page-home {

  .lesspadding {
    padding: 4px !important;
  }

  .item {
    border-bottom: 1px solid #cccccc;
  }

  .list {
    padding: 1px;
  }

}

[cards] {
  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    height: available;
    padding: 5px 0;
    text-align: center;

  }
  .row {
    padding: 0;
    height: available;

  }
  .col {
    padding: 5px 0;
    height: available;
  }
  .card {
    margin: 0 0 0 12px;
    padding: 14px;
    height: available;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    h1 {
      font-weight: 400;
      font-size: 3.5rem;
      color: forestgreen;
      //font-size: $main-font-size;

    }
    p {
      font-weight: 100;
      font-size: 1.5rem;
      color: dimgrey;
    }
  }
}
